<h2><%= @list.name %></h2>

<ul>
  <% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(movie: movie, list: @list) %>
    <li><%= movie.title %></li>
    <li><%= movie.overview %></li>
    <li><%= bookmark.comment %></li>
  <% end %>
</ul>

<%= link_to 'Add a comment', new_list_bookmark_path(@list) %><br>
<%= link_to 'Back to all lists', lists_path %>
