<h2><%= @list.name %></h2>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %></li>
    <li><%= bookmark.movie.overview %></li>
    <li><%= bookmark.comment %></li>
    <%= link_to "Remove",
                    bookmark_path(bookmark),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>

<%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %><br>
<%= link_to 'Back to all lists', lists_path %>
